@import url(http://db.onlinewebfonts.com/c/5d22bd0816f911a4c90e5d8661157ef9?family=Microsoft+Yi+Baiti);

@font-face {font-family: "Microsoft Yi Baiti";
  src: url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.eot");
  src: url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.svg#Microsoft Yi Baiti") format("svg");
  }
  @-webkit-keyframes spin {
    from { transform: rotateX(0); }
    to   { transform: rotateX(360deg); }
  }  

body {
  background-color: black;
  font-family: "Microsoft Yi Baiti";
}

a.pure-menu-link, .pure-menu-heading {
  color: #b06696;
  font-style: bold;
  font-size: 24px;
}

.pure-menu-link:hover {
  color: white;
  background-color: black;
}

.pure-menu-link:active {
  color: white;
  background-color: black;
}

pure-menu-link:focus {
  color: white;
  background-color: black;
}

.pure-menu-heading:hover {
  color: white;
  background-color: black;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

.pure-menu {
  font-family: "Microsoft Yi Baiti";

}
.custom-wrapper {
  font-family: "Microsoft Yi Baiti";
  background-color:  rgba(7, 7, 7, 0);
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.1em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  height: 50px;
  font-size: 20px;
}

.custom-wrapper.open {
  font-family: "Microsoft Yi Baiti";
  height: 10em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.portfolio {
  background-color: black;
  width: 100%;
  height: 150vw;
  /*margin-top: 155px;*/
}

.about {
  background-image: linear-gradient(to bottom,#EFEBED 0,#F6F0F0 100%);
  width: 100%;
  height: auto;
}

.image {
  float: left;
}
#me {
  height: 150px;
  border-radius: 50%;
  display:block;
  margin:auto;
  margin-top: 30px;
  border: 1px solid white;

}
.text {
  font-size: 16px;
  padding: 0 20px;
  text-align: center;
  margin-top: 40px;
  
  overflow-y: scroll;
}

#logo {
  height: 400px;
  
}

.box-scene {
  -webkit-perspective: 1000;
  width: 400px;
  height: 400px;
  margin: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.box-scene:hover .box {
 /* -webkit-transform: rotateY(-90deg);*/
/*animation: spin 4s infinite linear;*/

}

.box {
  width: 400px;
  height: 400px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 0.9s ease-out;
  -webkit-transform-origin: 90px 90px -90px;
  
  margin: 30px auto;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible; 
  -webkit-transform-origin: 0 0;
  -moz-box-shadow:    inset 0 0 8px #000000;
  -webkit-box-shadow: inset 0 0 8px #000000;
  box-shadow:         inset 0 0 8px #000000;
}

.front {
  -webkit-transform: rotateY(0deg);
  z-index: 2;
  background: #d9d9d9;
  opacity: 0.85;
}
.under {
  -webkit-transform: rotateX(-180deg);
  z-index: 1;
  background: rgba(232, 13, 13, 0.71);
  -webkit-transform: translateZ(-400px);
  
}
.side {
  background: linear-gradient(180deg, rgba(139, 132, 133, 0.88) 50%, rgba(213, 205, 205, 0.84) 50%);
  -webkit-transform: rotateY(90deg) translateZ(400px);
  z-index: 1;
}
.bottom {
  background: rgba(255, 255, 255, 0.75);
  -webkit-transform: translateZ(-400px) rotateY(-90deg);
  z-index: 1;
}
.back {
  background: rgba(255, 255, 255, 0.75);
  -webkit-transform: rotateX(-90deg)  translateZ( 400px );
  z-index: 1;
}
.below {
  background: rgba(255, 255, 255, 0.75);
  background-image: url('/images/table.png');
  -webkit-transform: rotateX(90deg) translateY( -400px );
  z-index: 1;
}

.about-click {
 -webkit-transform: rotateY(-90deg);
}

.skills-click {
  -webkit-transform: rotateX(-90deg) translateY(-200px) translateZ(200px);
}

.contact-click {
  -webkit-transform: rotateY(90deg) translateX(-200px) translateZ(200px);
}
.projects-click {
 -webkit-transform: rotateX(90deg);
}

.home-click {
  -webkit-transform: rotateY(0deg);
}

#thumb {
  height: 30px;
}

.title {
  background-color: #dddcdb;
  z-index: 1;
  margin-bottom: -21px;
  color: white;
  text-align: center;
}

.fa {
  font-size: 150px;
  color: grey;
}



.fa:hover {
  color: white;
}

.icons {
  position: absolute;
  left: 20%;
  right: 10%;
  top: 15%;
}

.projects {
  text-align: center;
}

.apps {
  height: 150px;
  border: 3px solid white;
}

.apps:hover {
  opacity: 0.5;
  cursor: pointer;
}

.large {
  height: 300px;
  float: left;
  margin-right: 20px;
  
}

.desc {
  margin-top: 40px;
  margin-right: 20px;
  font-size: 20px;
}

#backtwo, #backthree, #backfour, #backone {
  float: right;
  font-size: 40px;
}

.header {
  font-size: 20px;
}
.info {
  margin: 20px 10px;
  padding: 20px 0;
}

.all {
  margin: 40px;
  display: block;
}

.skills {
  text-align: center;
}

.skill {
  height: 30px;
  margin: 10px 0;
}

.pure-g {
  margin: 3px;
}

@media (max-width: 47.999em) {
    nav {
      position: relative;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 50px;
    }

    .custom-menu-3 {
      text-align: left;

    }

    a.pure-menu-link, .pure-menu-heading {
        font-size: 18px;
     }   

    .custom-toggle {
      display: block;
      font-size: 12px;
    }
    #logo{
      height: 250px;
    }
    .box-scene {
      width: 250px;
      height: 250px;
    }
    .box {
      width: 250px;
      height: 250px;
    }
    .under {
      -webkit-transform: translateZ(-250px);
    }
    .side {
      -webkit-transform: rotateY(90deg) translateZ(250px);
    }
  
    .back {
      -webkit-transform: rotateX(-90deg) translateZ( 250px );
    }

    .bottom {      
      -webkit-transform: translateZ(-250px) rotateY(-90deg);    
    }
  
    .below {      
      -webkit-transform: rotateX(90deg) translateY( -250px );  
    }

    .apps {
      height: 70px;
    }

    .fa {
      font-size: 50px;
    }
    #me {
      height: 100px;
      margin-top: 10px;
    }

    .large {
      height: 100px;
    }

    .text {
      font-size: 11px;
      margin-top: 13px;
    }

    .skill {
      height: 15px;
      margin: 5px 0;
    }
    
    .skills-click {
      -webkit-transform: rotateX(-90deg) translateY(-100px) translateZ(100px);
    }

    .contact-click {
      -webkit-transform: rotateY(90deg) translateX(-100px) translateZ(70px);
    }
    .icons {
        position: absolute;
        left: 15%;
        right: 10%;
        top: 10%;
    }

   .fa {
    font-size: 100px;
   }

}