@import url(http://db.onlinewebfonts.com/c/5d22bd0816f911a4c90e5d8661157ef9?family=Microsoft+Yi+Baiti);

@font-face {font-family: "Microsoft Yi Baiti";
    src: url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.eot");
    src: url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/5d22bd0816f911a4c90e5d8661157ef9.svg#Microsoft Yi Baiti") format("svg");
  }

body {
  background-color: black;
  font-family: "Microsoft Yi Baiti";
}

a.pure-menu-link, .pure-menu-heading {
  color: #b06696;
  font-style: bold;
}
nav {
  /*box-shadow: 3px 3px 3px #CBC6C6;*/
  position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px;
}
.pure-menu {
  font-family: "Microsoft Yi Baiti";
  /*background-color:  rgba(238, 233, 232, 0.5);*/

}
.custom-wrapper {
    font-family: "Microsoft Yi Baiti";
    background-color:  rgba(7, 7, 7, 0.5);
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    height: 50px;
    font-size: 20px;
}

.custom-wrapper.open {
    font-family: "Microsoft Yi Baiti";
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.portfolio {
  /*background: linear-gradient(to bottom,  #eee9e8 0%,#eee9e8 50%,#d6cdcd 50%,#d6cdcd 100%);
*/
  background-color: black;
  width: 100%;
  height: 600px;
  /*box-shadow: 3px -3px 3px #E7E4E4;*/
  margin-top: 55px;
}

.about {
  background-image: linear-gradient(to bottom,#EFEBED 0,#F6F0F0 100%);
  width: 100%;
  height: 500px;
 
 
}

.image {
  float: left;
}
#me {
  height: 100px;
  opacity: 0.5;
  border-radius: 50%;
  display:block;
  margin:auto;
  margin-top: 10px;

}
.text {
  font-size: 12px;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

#logo {
  height: 300px;
  
}

.box-scene {
    -webkit-perspective: 1000;
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
       margin: auto;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
    z-index: 999;
}
.box-scene:hover .box {
    -webkit-transform: rotateY(-90deg);
}
.box {
    width: 300px;
    height: 300px;
    position: relative;
    
    -webkit-transform-style: preserve-3d;
    
    -webkit-transition: all 0.9s ease-out;
    -webkit-transform-origin: 90px 90px -90px;
    
    /* float: left; */
    margin: 30px auto;
    
    
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible; 
    opacity: 0.75;
    -webkit-transform-origin: 0 0;
}
.front {
    -webkit-transform: rotateY(0deg);
    z-index: 2;
    background: #d9d9d9;
    /*border: 4px solid white;*/
    /*-webkit-transform: translateZ( 100px );  */
}
.under {
    -webkit-transform: rotateX(-180deg);
    z-index: 1;
    background: white;
    /*border: 4px solid white;*/
    -webkit-transform: translateZ(-300px);
}
.side {
    background: white;
    -webkit-transform: rotateY(90deg);
    z-index: 1;
    left: 300px;
    /*-webkit-transform: translateZ( 100px );  */
    /*border: 4px solid white;*/
}
.bottom {
    background: white;
    -webkit-transform: rotateY(90deg);
    z-index: 1;
    /*right: 300px;*/

    /*border: 4px solid white;*/
}
.back {
    background: white;
    -webkit-transform: rotateX(-90deg)  translateZ( 300px );
    
    z-index: 1;
    /*left: 300px;*/
    
    /*border: 4px solid white;*/
}
.below {
    background: white;
    -webkit-transform: rotateX(-90deg);
   /* -webkit-transform: translateY(300px);*/
    z-index: 1;
    
    
}


#thumb {
  height: 30px;
}

.contact {
  background-image: linear-gradient(to bottom,#D7D3D5 0,#d5cdcd 100%);
  width: 100%;
  height: 200px;
  
  margin-top: 60px;
}

.title {
  background-color: #dddcdb;
  z-index: 1;
  margin-bottom: -21px;
  color: white;
  text-align: center;
}

.fa {
  font-size: 70px;
  color: grey;
}

.icons {
  text-align: center;
  margin: 30%;
  width: 60%;
}

.projects {
  text-align: center;
}

.apps {
  height: 90px;
}

.large {
  height: 300px;
  float: left;
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}